---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import SectionIconHeading from "./SectionIconHeading.astro";
---

<div class="about-us" id="about-us">
  <picture class="about-us-image">
    <source srcset="/about-us-image-small.png" media="(max-width: 767px)" />
    <img
      src="/about-us-image.png"
      alt="A collage of people collaborating, attending presentations, and socializing, framed with colorful borders and geometric shapes."
    />
  </picture>

  <div>
    <div class="about-us-header">
      <SectionIconHeading text="About Us">
        <div style="padding: 3px; width: 100%; background-color: white;">
          <img src="/cougarLogo.svg" alt="Logo" />
        </div>
      </SectionIconHeading>
    </div>

    <p class="about-us-text">
      We are a club committed to helping our members <span class="highlighted"
        >transform <Icon class="highlighted-icon" name="mdi:arrow-up-bold" /></span
      > from novices to professionals by <span class="highlighted"
        >graduation <Icon class="highlighted-icon" name="mdi:graduation-cap" /></span
      > while providing academic <span class="highlighted"
        >support <Icon class="highlighted-icon" name="mdi:handshake" /></span
      >
    </p>
  </div>
</div>

<style>
  .about-us {
    padding: 4rem 0;
    text-align: center;
    background-color: var(--cougarcs-light-grey);

    .about-us-image {
      img {
        width: 100%;
        height: auto;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
          width: 90%;
        }
      }
    }

    .about-us-header {
      margin: 2rem auto;
      max-width: fit-content;
    }

    .about-us-text {
      padding: 0 2rem;
      margin: 0 auto;
      max-width: 700px;
      font-size: larger;

      .highlighted {
        padding-right: 5px;
        display: inline-flex;
        gap: 3px;
        align-items: center;
        font-weight: bold;
        color: var(--cougarcs-cougar-red);

        .highlighted-icon {
          font-size: 1.5rem;
        }
      }

      .highlighted:first-of-type .highlighted-icon {
        transform: scale(1.25);
      }
    }
  }
</style>
