---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/LandingPage/Hero.astro";
import ScrollingStats from "../components/LandingPage/ScrollingStats.astro";
import AboutUs from "../components/LandingPage/AboutUs.astro";
import WhatWeOffer from "../components/LandingPage/WhatWeOffer/WhatWeOffer.astro";
import Branches from "../components/LandingPage/Branches/Branches.astro";
---

<BaseLayout>
  <div class="hero-container">
    <Hero />
  </div>

  <div class="scrolling-stats-container">
    <ScrollingStats />
  </div>

  <div class="about-us-container">
    <AboutUs />
  </div>

  <div class="what-we-offer-container">
    <WhatWeOffer />
  </div>

  <div class="branches-container">
    <Branches />
  </div>
</BaseLayout>
