---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/LandingPage/Hero.astro";
import ScrollingStats from "../components/LandingPage/ScrollingStats.astro";
import AboutUs from "../components/LandingPage/AboutUs.astro";
import WhatWeOffer from "../components/LandingPage/WhatWeOffer/WhatWeOffer.astro";
import Branches from "../components/LandingPage/Branches/Branches.astro";
import Sponsors from "../components/LandingPage/Sponsors/Sponsors.astro";
import Partners from "../components/LandingPage/Partners/Partners.astro";
import MeetTheOfficers from "../components/LandingPage/MeetOfficers/MeetTheOfficers.astro";
import Footer from "../components/LandingPage/Footer/Footer.astro";
---

<BaseLayout>
  <div class="hero-container">
    <Hero />
  </div>

  <div class="scrolling-stats-container">
    <ScrollingStats />
  </div>

  <div class="about-us-container">
    <AboutUs />
  </div>

  <div class="what-we-offer-container">
    <WhatWeOffer />
  </div>

  <div class="branches-container">
    <Branches />
  </div>

  <div class="sponsors-container">
    <Sponsors />
  </div>

  <div class="partners-container">
    <Partners />
  </div>

  <div class="officers-container">
    <MeetTheOfficers />
  </div>

  <div class="footer-container">
    <Footer />
  </div>
</BaseLayout>
