---

---

<div class="full-logo">
  <img src="/cougarLogo.svg" alt="Logo" />
  <img src="/cougarCSText.svg" alt="CougarCS" />
</div>

<style>
  .full-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-width: fit-content;
  }

  .full-logo img {
    max-height: 2rem;
    height: auto;
    width: auto;

    &:first-child {
      max-height: 2.5rem;
    }

    &:last-child {
      max-height: 2rem;
    }
  }
</style>
