---

---

<div class="join-form">
  <div class="description">
    <p>
      Memberships are priced at
      <span style="color: var(--cougarcs-cougar-red); font-weight: bold;"> $40.00 for a year </span> or <span
        style="color: var(--cougarcs-cougar-red); font-weight: bold;">$25.00 for a semester.</span
      > You can join by filling out our membership form:
    </p>
  </div>

  <form
    action="/api/payments/create-checkout-session?tenure=year&product=price_1Qjw62BcoBQz8xvUejSqWzQx"
    method="POST">
    <button type="submit" id="checkout-button">Year Membership (Save 20%)</button>
  </form>

  <form
    action="/api/payments/create-checkout-session?tenure=semester&product=price_1Qjw5mBcoBQz8xvUepJ9JtgU"
    method="POST">
    <button type="submit" id="checkout-button">Semester Membership</button>
  </form>
</div>

<style>
  .join-form {
    padding: 1.5rem;

    border: 1px solid var(--cougarcs-grey-border);
    border-top: none;

    form {
      margin-top: 0.8rem;

      button {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        background-color: var(--cougarcs-cougar-red);
        color: white;
        font-family: "Chakra Petch", sans-serif;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }

    @media screen and (min-width: 768px) {
      padding: 2rem 10%;
      font-size: 1.1rem;
    }
  }
</style>
