---
import BranchesTabber from "./BranchesTabber.jsx";
---

<div class="branches">
  <BranchesTabber client:load />
</div>

<style>
  .branches {
    padding: 2rem;
    background-color: #f1f5f7;
  }
</style>
