---
import Footer from "../components/LandingPage/Footer/Footer.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import "./cssreset.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="CougarCS" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>CougarCS</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body>
    <Navbar />

    <slot />

    <Footer />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&display=swap");

  :root {
    --cougarcs-cougar-red: #c80f2e;
    --cougarcs-neutral-grey: #1e1f22;
    --cougarcs-light-grey: #f1f5f7;
    --cougarcs-grey-border: #cccdce;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    font-family: "Manrope", "Inter", sans-serif;
  }

  *,
  *::before,
  *::after {
    font-family: inherit;
  }

  button,
  input,
  textarea,
  select {
    font-family: inherit;
  }
</style>
