---
import Navbar from "../components/Navbar/Navbar.astro";
import "./cssreset.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>CougarCS</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body>
    <Navbar />

    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&display=swap");

  :root {
    --cougarcs-cougar-red: #c80f2e;
    --cougarcs-neutral-grey: #1e1f22;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    font-family: "Manrope", "Inter", sans-serif;
  }

  *,
  *::before,
  *::after {
    font-family: inherit;
  }

  button,
  input,
  textarea,
  select {
    font-family: inherit;
  }
</style>
